:root {
  --aboveLimitColor: lightcoral;
  --belowLimitColor: aquamarine;
  --borderlineColor: moccasin;
}

body {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#control {
  text-align: center;
  padding: .7em;
}

#error {
  color: crimson;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

select {
  margin-right: 1em;
}

input {
  margin-right: 1em;
}
